<div class="floating-header">
    <div class="floating-header-logo">
        <a>
            {% if site.logo_dark %}
                <img src="{{ site.baseurl }}/{{ site.logo_dark }}" alt="{{ site.title }} icon" />
            {% endif %}
            <span>{{ page.title }}</span>
        </a>
    </div>
    <span class="floating-header-divider">&mdash;</span>
    <div class="floating-header-title">{{ site.title }}</div>
    <progress class="progress" value="0">
        <div class="progress-container">
            <span class="progress-bar"></span>
        </div>
    </progress>
</div>
